@page "/"
@inherits IndexBase

@if (statusMessage?.Message != null && statusMessage?.Status != null)
{
    <div class="alert alert-@statusMessage.Status" role="alert">
        @statusMessage.Message
    </div>
}

<DbcFileUpload RefreshEventCallback="@RefreshCANDatabases" StatusMessageEventCallback="@SetStatusMessage"/>

<WarningDialog @ref="WarningDialogComponent" DeleteEventCallback="@Delete" />

<CANDatabaseList @ref="CANDatabaseListComponent" DeleteWarningEventCallback="@DeleteWarning"/>